<html>
    <head>
        <title>Helluva blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Helluva Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is some serious stuff.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This is quite interesting.</p>
        </div>
    </body>
</html>